* {
  /*margin:0px;*/
  padding:0px;
  box-sizing:border-box;
}
.pw-meter {
  position:absolute;
  top: 65%;
  left:50%;
  transform:translate(-50%,-50%);
  width: 450px;
  background:#fff;
  padding:20px;
  box-shadow:0px 0px 20px 5px rgba(0,0,0,0.05);
}
.pw-meter1 {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:420px;
  background:#fff;
  padding:20px;
  box-shadow:0px 0px 20px 5px rgba(0,0,0,0.05);
}
.pw-meter h2 {
  margin:10px 0px 30px;
  font-size:20px;
  color:#111;
  text-align:center;
}
.pw-meter1 h2 {
  margin:10px 0px 30px;
  font-size: 30px;
  color:#13c6e1;
  text-align:
  center;
}
.pw-meter .form-element {
  position:relative;
}
.pw-meter1 .form-element {
  position:relative;
}
.pw-meter label {
  display:block;
  margin-bottom:8px;
  color:#111;
}
.pw-meter1 label {
  display:block;
  margin-bottom:8px;
  color:#111;
}
.pw-meter input {
  padding:8px 30px 8px 10px;
  width:100%;
  font-size:16px;
  border:1px solid #bbb;
  outline:none;
}
.pw-meter1 input {
  padding:8px 30px 8px 10px;
  width:100%;
  font-size:16px;
  border:1px solid #bbb;
  outline:none;
}
.pw-meter .pw-display-toggle-btn {
    position: absolute;
    right: 30px;
    top: 95px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    color:  black;
}
.pw-meter1 .pw-display-toggle-btn {
    position: absolute;
    right: 30px;
    top: 89.5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    color:  black;
}
.pw-meter .pw-display-toggle-btn i.fa-eye-slash {
  display:none;
}
.pw-meter1 .pw-display-toggle-btn i.fa-eye-slash {
  display:none;
}
.pw-meter .pw-display-toggle-btn.active i.fa-eye-slash {
  display:block;
}
.pw-meter1 .pw-display-toggle-btn.active i.fa-eye-slash {
  display:block;
}
.pw-meter .pw-display-toggle-btn.active i.fa-eye {
  display:none;
}
.pw-meter1 .pw-display-toggle-btn.active i.fa-eye {
  display:none;
}
.pw-meter .pw-strength {
  position:relative;
  width:100%;
  height:20px;
  margin-top:10px;
  text-align:center;
  background:#f2f2f2;
  display:none;
}
.pw-meter1 .pw-strength {
  position:relative;
  width:100%;
  height:20px;
  margin-top:10px;
  text-align:center;
  background:#f2f2f2;
  display:none;
}
.pw-meter .pw-strength span:nth-child(1) {
  position:relative;
  font-size:13px;
  color:#111;
  z-index:2;
  font-weight:600;
}
.pw-meter1 .pw-strength span:nth-child(1) {
  position:relative;
  font-size:13px;
  color:#111;
  z-index:2;
  font-weight:600;
}
.pw-meter .pw-strength span:nth-child(2) {
  position:absolute;
  top:0px;
  left:0px;
  width:0%;
  height:100%;
  border-radius:5px;
  z-index:1;
  transition:all 300ms ease-in-out;
}
.pw-meter1 .pw-strength span:nth-child(2) {
  position:absolute;
  top:0px;
  left:0px;
  width:0%;
  height:100%;
  border-radius:5px;
  z-index:1;
  transition:all 300ms ease-in-out;
}