body{
	background-color: #5887ef;
	padding: 0px;
}
.show{
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	width: 300px;
}
input{
	box-sizing: border-box;
	width: 100%;
	font-size: 18px;
	border: none;
	padding: 10px 10px;
	 border-radius: 10px;
	 font-family: 'poppins',sans-serif;
	 color: #4a4a4a;
	 letter-spacing: 0.5px;
	 box-shadow: 0 5px 30px rgba(22, 89, 233, 0.4);

}
::placeholder{
	color: #9a9a9a;
	font-weight: 400;

}
span{
	position: absolute;
	right: -20px;
	transform: translate(0,-50%);
	margin-top: 20px;
	cursor: pointer;
	color: black;
}
.fa{
	font-size: 20px;
	color: #7a797e;
	
}